<%= render 'shared/error_massages', object: f.object %>
<% if controller.action_name == 'edit' %>
  <%= f.label :status %>
  <span class="text-danger">※必須</span>
  <%= f.select :status, Order.statuses_i18n.invert, {}, { class: "form-control" } %>
<% end %>
<br>

<!-- 現場 -->
<div class="list-group">
  <div class="list-group-item">
    <%= f.label :site_career_up_id %> <!-- 現場ID(キャリアアップ) -->
    <%= f.text_field :site_career_up_id, class: "form-control", placeholder: Order.human_attribute_name(:site_career_up_id) %>
    <br>
    <%= f.label :site_name %> <!-- 事業所名(現場名) -->
    <span class="text-danger">※必須</span>
    <%= f.text_field :site_name, class: "form-control", placeholder: Order.human_attribute_name(:site_name) %>
    <br>
    <%= f.label :site_address %> <!-- 施工場所(住所) -->
    <span class="text-danger">※必須</span>
    <%= f.text_field :site_address, class: "form-control", placeholder: Order.human_attribute_name(:site_address) %>
    <br>
  </div>
</div><br>

<!-- 発注 -->
<div class="list-group">
  <div class="list-group-item">
    <%= f.label :order_name %>
    <span class="text-danger">※必須</span> <!-- 発注者(会社名or氏名) -->
    <%= f.text_field :order_name, class: "form-control", placeholder: Order.human_attribute_name(:order_name) %>
    <br>
    <%= f.label :order_post_code %> <!-- 郵便番号 -->
    <span class="text-danger">※必須</span>
    <%= f.text_field :order_post_code, class: "form-control", placeholder: Order.human_attribute_name(:hyphen_is_unnecessary) %>
    <br>
    <%= f.label :order_address %> <!-- 住所 -->
    <span class="text-danger">※必須</span>
    <%= f.text_field :order_address, class: "form-control", placeholder: Order.human_attribute_name(:order_address) %>
    <br>
  </div>
  <div class="list-group-item">
    <%= f.label :order_supervisor_name %> <!-- 監督員(氏名) -->
    <span class="text-danger">※必須</span>
    <%= f.text_field :order_supervisor_name, class: "form-control", placeholder: Order.human_attribute_name(:order_supervisor_name) %>
    <br>
    <%= f.label :order_supervisor_company %> <!-- 監督員(所属会社) -->
    <%= f.text_field :order_supervisor_company, class: "form-control", placeholder: Order.human_attribute_name(:order_supervisor_company) %>
    <br>
    <%= f.label :order_supervisor_apply %> <!-- 監督員(権限及び意見の申出方法) -->
    <span class="text-danger">※必須</span>
    <%= f.select :order_supervisor_apply,
                  (@current_business.orders.map { |order|order.order_supervisor_apply }).uniq,
                  { include_blank: true },
                  { class: "single-select", style: "width: 100%" }
    %><br><br>
  </div>
</div><br>

<!-- 元請会社 -->
<div class="list-group">
  <div class="list-group-item">
    <%= f.label :construction_name %> <!-- 工事名 -->
    <span class="text-danger">※必須</span>
    <%= f.text_field :construction_name, class: "form-control", placeholder: Order.human_attribute_name(:construction_name) %>
    <br>
    <%= f.label :construction_details %> <!-- 工事内容 -->
    <span class="text-danger">※必須</span>
    <%= f.text_field :construction_details, class: "form-control", placeholder: Order.human_attribute_name(:construction_details) %>
    <br>
    <div class="row">
      <div class="col-md-3">
        <%= f.label :start_date %> <!-- 工期(自) -->
        <span class="text-danger">※必須</span>
        <%= f.date_field :start_date, class: "form-control" %>
      </div>
      <div class="col-md-3">
        <%= f.label :end_date %> <!-- 工期(至) -->
        <span class="text-danger">※必須</span>
        <%= f.date_field :end_date, class: "form-control" %>
      </div>
    </div><br>
    <div class="row">
      <div class="col-md-3">
        <%= f.label :contract_date %> <!-- 契約日 -->
        <span class="text-danger">※必須</span>
        <%= f.date_field :contract_date, class: "form-control" %>
      </div>
    </div><br>
    <%= f.label :submission_destination %> <!-- 提出先及び担当者(部署･氏名) -->
    <span class="text-danger">※必須</span>
    <%= f.select :submission_destination,
                  (@business_workers_name + [@order.submission_destination]).uniq,
                  {},
                  { class: "single-select", style: "width: 100%" }
    %>
    <br><br>
  </div>
  <div class="list-group-item">
    <%= f.label :general_safety_responsible_person_name %> <!-- 統括安全衛生責任者(氏名) -->
    <span class="text-danger">※必須</span>
    <%= f.select :general_safety_responsible_person_name,
                  (@business_workers_name + [@order.general_safety_responsible_person_name]).uniq,
                  { include_blank: true },
                  { class: "single-select", style: "width: 100%" }
    %>
    <br><br>
  </div>
  <div class="list-group-item">
    <%= f.label :vice_president_name %> <!-- 副会長(氏名) -->
    <span class="text-danger">※必須</span>
    <%= f.select :vice_president_name,
                  (@business_workers_name + [@order.vice_president_name]).uniq,
                  { include_blank: true },
                  { class: "single-select", style: "width: 100%" }
    %>
    <br><br>
    <%= f.label :vice_president_company_name %> <!-- 副会長(会社名) -->
    <span class="text-danger">※必須</span>
    <%= f.text_field :vice_president_company_name, class: "form-control", placeholder: Order.human_attribute_name(:vice_president_company_name) %>
    <br>
  </div>
  <div class="list-group-item">
    <%= f.label :secretary_name %> <!-- 書記(氏名) -->
    <span class="text-danger">※必須</span>
    <%= f.select :secretary_name,
                  (@business_workers_name + [@order.secretary_name]).uniq,
                  { include_blank: true },
                  { class: "single-select", style: "width: 100%" }
    %>
    <br><br>
    <%= f.label :health_and_safety_manager_name %> <!-- 元方安全衛生管理者(氏名) -->
    <span class="text-danger">※必須</span>
    <%= f.select :health_and_safety_manager_name,
                  (@business_workers_name + [@order.health_and_safety_manager_name]).uniq,
                  { include_blank: true },
                  { class: "single-select", style: "width: 100%" }
    %>
    <br><br>
    <%= f.label :general_safety_agent_name %> <!-- 統括安全衛生責任者代行者(氏名) -->
    <span class="text-danger">※必須</span>
    <%= f.select :general_safety_agent_name,
                  (@business_workers_name + [@order.general_safety_agent_name]).uniq,
                  { include_blank: true },
                  { class: "single-select", style: "width: 100%" }
    %><br><br>
  </div>
  <div class="list-group-item">
    <%= f.label :supervisor_name %> <!-- 監督員(氏名) -->
    <span class="text-danger">※必須</span>
    <%= f.select :supervisor_name,
                  (@business_workers_name + [@order.supervisor_name]).uniq,
                  { include_blank: true },
                  { class: "single-select", style: "width: 100%" }
    %><br><br>
    <%= f.label :supervisor_apply %> <!-- 監督員(権限及び意見の申出方法) -->
    <span class="text-danger">※必須</span>
    <%= f.text_field :supervisor_apply, class: "form-control", placeholder: Order.human_attribute_name(:supervisor_apply) %>
    <br>
  </div>
  <div class="list-group-item">
    <%= f.label :site_agent_name %> <!-- 現場代理人(氏名) -->
    <span class="text-danger">※必須</span>
    <%= f.select :site_agent_name,
                  (@business_workers_name + [@order.site_agent_name]).uniq,
                  { include_blank: true },
                  { class: "single-select", style: "width: 100%" }
    %><br><br>
    <%= f.label :site_agent_apply %> <!-- 現場代理人(権限及び意見の申出方法) -->
    <span class="text-danger">※必須</span>
    <%= f.text_field :site_agent_apply, class: "form-control", placeholder: Order.human_attribute_name(:site_agent_apply) %>
    <br>
  </div>
  <div class="list-group-item">
    <%= f.label :supervising_engineer_name %> <!-- 監督技術者･主任技術者(氏名) -->
    <span class="text-danger">※必須</span>
    <%= f.select :supervising_engineer_name,
                  (@business_workers_name + [@order.supervising_engineer_name]).uniq,
                  { include_blank: true },
                  { class: "single-select", style: "width: 100%" }
    %><br><br>
    <%= f.label :supervising_engineer_check %> <!-- 監督技術者・主任技術者(専任or非専任) -->
    <%= f.select :supervising_engineer_check, Order.supervising_engineer_checks_i18n.invert, { prompt: true }, { class: "form-control" } %>
    <br>
    <%= f.label :supervising_engineer_assistant_name %> <!-- 監督技術者補佐(氏名) -->
    <%= f.select :supervising_engineer_assistant_name,
                  (@business_workers_name + [@order.supervising_engineer_assistant_name]).uniq,
                  { include_blank: true },
                  { class: "single-select", style: "width: 100%" }
    %><br><br>
  </div>
  <div class="list-group-item">
    <%= f.label :professional_engineer_name %> <!-- 専門技術者(氏名) -->
    <%= f.select :professional_engineer_name,
                  (@business_workers_name + [@order.professional_engineer_name]).uniq,
                  { include_blank: true },
                  { class: "single-select", style: "width: 100%" }
    %><br><br>
    <%= f.label :professional_engineer_construction_details %> <!-- 専門技術者(担当工事内容) -->
    <%= f.text_field :professional_engineer_construction_details, class: "form-control", placeholder: Order.human_attribute_name(:professional_engineer_construction_details) %>
    <br>
  </div>
  <div class="list-group-item">
    <%= f.label :safety_officer_name %> <!-- 安全衛生担当役員(氏名) -->
    <span class="text-danger">※必須</span>
    <%= f.select :safety_officer_name,
                  (@business_workers_name + [@order.safety_officer_name]).uniq,
                  { include_blank: true },
                  { class: "single-select", style: "width: 100%" }
    %><br><br>
    <%= f.label :safety_officer_position_name %> <!-- 安全衛生担当役員(役職名) -->
    <span class="text-danger">※必須</span>
    <%= f.text_field :safety_officer_position_name, class: "form-control", placeholder: Order.human_attribute_name(:safety_officer_position_name) %>
    <br>
  </div>
  <div class="list-group-item">
    <%= f.label :general_safety_manager_name %> <!-- 総括安全衛生管理(氏名) -->
    <%= f.select :general_safety_manager_name,
                  (@business_workers_name + [@order.general_safety_manager_name]).uniq,
                  { include_blank: true },
                  { class: "single-select", style: "width: 100%" }
    %><br><br>
    <%= f.label :general_safety_manager_position_name %> <!-- 総括安全衛生管理(役職名) -->
    <%= f.text_field :general_safety_manager_position_name, class: "form-control", placeholder: Order.human_attribute_name(:general_safety_manager_position_name) %>
    <br>
  </div>
  <div class="list-group-item">
    <%= f.label :safety_manager_name %> <!-- 安全管理者(氏名) -->
    <%= f.select :safety_manager_name,
                  (@business_workers_name + [@order.safety_manager_name]).uniq,
                  { include_blank: true },
                  { class: "single-select", style: "width: 100%" }
    %><br><br>
    <%= f.label :safety_manager_position_name %> <!-- 安全管理者(役職名) -->
    <%= f.text_field :safety_manager_position_name, class: "form-control", placeholder: Order.human_attribute_name(:safety_manager_position_name) %>
    <br>
  </div>
  <div class="list-group-item">
    <%= f.label :health_manager_name %> <!-- 衛生管理者(氏名) -->
    <%= f.select :health_manager_name,
                  (@business_workers_name + [@order.health_manager_name]).uniq,
                  { include_blank: true },
                  { class: "single-select", style: "width: 100%" }
    %><br><br>
    <%= f.label :health_manager_position_name %> <!-- 衛生管理者(役職名) -->
    <%= f.text_field :health_manager_position_name, class: "form-control", placeholder: Order.human_attribute_name(:health_manager_position_name) %>
    <br>
  </div>
  <div class="list-group-item">
    <%= f.label :health_and_safety_promoter_name %> <!-- 安全衛生推進者(氏名) -->
    <%= f.select :health_and_safety_promoter_name,
                  (@business_workers_name + [@order.health_and_safety_promoter_name]).uniq,
                  { include_blank: true },
                  { class: "single-select", style: "width: 100%" }
    %><br><br>
    <%= f.label :health_and_safety_promoter_position_name %> <!-- 安全衛生推進者(役職名) -->
    <%= f.text_field :health_and_safety_promoter_position_name, class: "form-control", placeholder: Order.human_attribute_name(:health_and_safety_promoter_position_name) %>
    <br>
  </div>
  <div class="list-group-item">
    <%= f.label :confirm_name %> <!-- 確認欄(氏名) -->
    <span class="text-danger">※必須</span>
    <%= f.select :confirm_name,
                  (@business_workers_name + [@order.confirm_name]).uniq,
                  { include_blank: true },
                  { class: "single-select", style: "width: 100%" }
    %><br><br>
    <div class="row">
      <div class="col-md-3">
        <%= f.label :accept_confirm_date %> <!-- 受付確認(年月日) -->
        <%= f.date_field :accept_confirm_date, class: "form-control" %>
      </div>
    </div><br>
    <%= f.label :subcontractor_name %> <!-- 下請会社名 -->
    <span class="text-danger">※必須</span>
    <%= f.select :subcontractor_name,
                  (@current_business.orders.map { |order|order.subcontractor_name }).uniq,
                  { include_blank: true },
                  { class: "single-select", style: "width: 100%" }
    %><br><br>
  </div>
</div><br>

<script>
  $(function(){
    let methods = {
      postcode: function(value, element){
        return this.optional(element) || /^\d{7}$/i.test(value); 
      }
    }
    $.each(methods, function(key){
      $.validator.addMethod(key, this);
    });
    $(".order-form-validation").validate({
      rules: {
        "order[status]": {
          required: true
        },
        "order[site_name]": {
          required: true
        },
        "order[order_name]": {
          required: true
        },
        "order[order_post_code]": {
          required: true,
          postcode: true
        },
        "order[order_address]": {
          required: true
        },
      },
      messages: {
        "order[status]": {
          required: "どれか一つを選択してください。"
        },
        "order[site_name]": {
          required: "現場名を入力してください。"
        },
        "order[order_name]": {
          required: "発注者名を入力してください。"
        },
        "order[order_post_code]": {
          required: "半角数字7桁を入力してください。【例: 1000011】",
          postcode: "半角数字7桁を入力してください。【例: 1000022】"
        },
        "order[order_address]": {
          required: "発注者住所を入力してください。"
        },
      },
    });
  });
</script>
