<% provide(:title, "入場作業員編集") %>
<% provide(:btn_text, "更新") %>
<%= @field_workers.map {|aaa|aaa.field_workerable_id} %>
<section class="content">
  <div class="col-md-12">
    <%= form_with model: @order, url: update_workers_users_order_field_workers_path, method: :patch, local: true do |f| %>
      <div class="card">
        <div class="card-body table-responsive p-0">
          <table class="table table-hover text-nowrap">
            <thead>
              <tr align="center">
                <th><%= FieldWorker.human_attribute_name(:admission_worker_name) %></th>
                <th><%= FieldWorker.human_attribute_name(:admission_date_start) %></th>
                <th><%= FieldWorker.human_attribute_name(:admission_date_end) %></th>
                <th><%= FieldWorker.human_attribute_name(:education_date) %></th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% @field_workers.each do |field_worker| %>
                <%= f.fields_for "field_workers[]", field_worker do |fw| %>
                <tr>
                  <td><%= field_worker.admission_worker_name %></td>
                  <td><%= fw.date_field :admission_date_start, class: "form-control" %></td>
                  <td><%= fw.date_field :admission_date_end, class: "form-control" %></td>
                  <td><%= fw.date_field :education_date, class: "form-control" %></td>
                </tr>
                <% end %>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
      <%= f.submit yield(:btn_text), class: "btn btn-md btn-block btn-primary" %>
      <br>
    <% end %>
  </div>
</section>

<div class="card-footer">
  <%#= link_to "詳細画面へ", users_order_field_worker_path, class: "btn btn-md btn-block btn-default" %>
  <%= link_to "一覧画面へ", users_order_field_workers_path, class: "btn btn-md btn-block btn-default" %>
</div>
