<% provide(:title,  "入場作業員一覧") %>

<%= link_to "入場作業員追加", new_users_order_field_worker_path, class: "btn btn-lg btn-block btn-outline-primary" %>
<br>
<% if @field_workers.present? %>
  <div class="card">
    <div class="card-body table-responsive p-0">
      <table class="table table-hover text-nowrap">
        <thead>
          <tr align="center">
            <th><%= FieldWorker.human_attribute_name(:admission_worker_name) %></th>
            <th><%= FieldWorker.human_attribute_name(:admission_date_start) %></th>
            <th><%= FieldWorker.human_attribute_name(:admission_date_end) %></th>
            <th><%= FieldWorker.human_attribute_name(:education_date) %></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @field_workers.each do |field_worker| %>
          <tr align="center">
            <td><%= field_worker.admission_worker_name %></td>
            <td><%= field_worker.admission_date_start %></td>
            <td><%= field_worker.admission_date_end %></td>
            <td><%= field_worker.education_date %></td>
            <td><%= link_to "編集", edit_users_order_field_worker_path(@order, field_worker), class: "btn btn-md btn-success" %></td>
            <td><%= link_to "削除", users_order_field_worker_path(@order, field_worker), method: :delete, data: { confirm: "#{field_worker.admission_worker_name}を削除します。本当によろしいですか？" }, class: "btn btn-md btn-danger" %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>
<div class="card-footer">
  <%= link_to "発注詳細画面へ", users_order_path(@order), class: "btn btn-md btn-block btn-default" %>
  <%= link_to "発注一覧画面へ", users_orders_path(@order), class: "btn btn-md btn-block btn-default" %>
</div>
