<div class="nested-fields">
  <div class="row">
    <div class="col-md-3">
      <%= f.label :skill_training_id %>
      <%= f.collection_select :skill_training_id, SkillTraining.all,
        :id, :name, { prompt: '技能講習を選択してください' }, { class: 'form-control' } %>
    </div>
    <div class="col-md-2">
      <%= f.label :got_on %>
      <%= f.date_field :got_on, class: "form-control" %>
    </div>
    <div class="col-md-3">
      <%= f.label :images %>
      <%= f.file_field :images, accept: 'image/jpg, image/jpeg, image/png', multiple: true, class: 'form-control' %>
    </div>
    <div class="col-md-4 d-flex align-items-end">
      <% f.object.images.each_with_index do |image, index| %>
        <%= image_tag(image.url) %>
        <div class="mx-1">
          <%= link_to "削除", users_worker_update_worker_skill_training_images_path(worker.id, index: index, worker_skill_training_id: f.object.id),
            method: :patch, data: { confirm: "本当に削除してもよろしいですか？" } %>
        </div>
      <% end %>
      <div class="mx-3">
        <% if @path.is('users/workers#new') %>
          <%= link_to_remove_association '×', f, class: "btn btn-danger" %>
        <% elsif @path.is('users/workers#edit') %>
          <%= link_to 'ライセンスを削除', "#" %>
        <% end %>
      </div>
    </div>
  </div><br>
</div>
