<div class="nested-fields">
  <div class="row">
    <div class="col-md-3">
      <%= f.collection_select :skill_training_id, SkillTraining.all,
        :id, :name, { prompt: '技能講習を選択してください' }, { class: "form-control" } %>
    </div>
    <div class="col-md-2">
      <%= f.date_field :got_on, class: "form-control" %>
    </div>
    <div class="col-md-3">
      <%= f.file_field :images, accept: 'image/jpg, image/jpeg, image/png', multiple: true, class: "form-control" %>
    </div>
    <div class="col-md-4">
      <% @worker.worker_skill_trainings.each do |worker_skill_training| %>
        <% worker_skill_training.images.each_with_index do |image, index| %>
          <%= image_tag(image.url) %>
          <%= link_to "削除", users_worker_update_workerskilltraining_images_path(@worker.id, index: index),
            method: :patch, data: { confirm: "本当に削除してもよろしいですか？" } %>
        <% end %>
      <% end %>
      <%= link_to_remove_association "削除", f, class: "btn btn-danger" %>
    </div>
  </div><br>
</div>
