<%= render 'shared/error_massages', object: f.object %>

<%= f.label :name %><span class="p-1 mb-2 rounded bg-danger text-white">必須</span>
<%= f.select :name, Machine.machine_names_i18n.invert, { include_blank: true, prompt: "選択してください" }, { class: "form-control single-select" } %>

<%= f.label :standards_performance %><span class="p-1 mb-2 rounded bg-danger text-white">必須</span>
<%= f.text_field :standards_performance, class: "form-control", placeholder: Machine.human_attribute_name(:standards_performance) %>

<%= f.label :control_number %><span class="p-1 mb-2 rounded bg-danger text-white">必須</span>
<%= f.text_field :control_number, class: "form-control", placeholder: Machine.human_attribute_name(:control_number) %>

<%= f.label :inspector %><span class="p-1 mb-2 rounded bg-danger text-white">必須</span>
<%= f.text_field :inspector, class: "form-control", placeholder: Machine.human_attribute_name(:inspector) %>

<%= f.label :handler %><span class="p-1 mb-2 rounded bg-danger text-white">必須</span>
<%= f.text_field :handler, class: "form-control", placeholder: Machine.human_attribute_name(:handler) %>

<%= f.label :inspection_date %><span class="p-1 mb-2 rounded bg-danger text-white">必須</span>
<%= f.date_field :inspection_date, class: "form-control", placeholder: Machine.human_attribute_name(:inspection_date) %>

<%= f.label :inspection_note %>
<%= f.text_field :inspection_note, class: "form-control", placeholder: Machine.human_attribute_name(:inspection_note) %>

<%= f.label :inspection_check %>
<%= f.text_field :inspection_check, class: "form-control", placeholder: Machine.human_attribute_name(:inspection_check) %>
